@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Reportes de Virtualizacion</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Publicando reportes</a>.</p>
</div>
