@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Reportes de CloudTI</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">A continuacion los reportes de Cloud</a>.</p>
</div>
